/* Buttons
-----------------------------------------------------------------------------*/

.basic-btn{
	position: relative;
	height: 60px;
	background: transparent;
	border: none;
	border-radius: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 14px/1.12 $lato;
	font-weight: 900;
	flex: 1 1;
	padding: 0 28px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.05em;
	cursor: pointer;

	&:hover{
		&:before,
		&:after{
			opacity: 1;
		}
	}

	&:before{
		position: absolute;
		transition: all 0.2s;
		content: '';
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		opacity: 0;
		border-radius: 33px;
		background: $grd-red-h;
	}

	&:after{
		position: absolute;
		transition: all 0.2s;
		content: '';
		left: 2px;
		top: 2px;
		right: 2px;
		bottom: 2px;
		z-index: 1;
		background: #fff;
		opacity: 1;
		z-index: 2;
		border-radius: 31px;
	}

	&__text{
		background: $grd-red-h;
		-webkit-background-clip: text;
		color: transparent;
		z-index: 3;
	}
}