/* Forms
-----------------------------------------------------------------------------*/

.newsletter-form{
	display: flex;
	justify-content: space-between;
	max-width: 558px;
	margin: 58px auto 40px;
	align-items: center;

	&__input{
		background: transparent;
		border: none;
		border-bottom: 4px solid #393434;
		outline: none;
		width: 344px;
		height: 42px;
		padding: 0 10px;
		color: #fff;
		font: 20px/1.36 $roboto;

		&::placeholder{
			color: $clr-red;
		}

		&:focus{
			border-bottom-color: #a9a9a9;
		}
	}

	&__submit{
		max-width: 184px;
		height: 62px;
		font-size: 16px;
	}
}