.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-flag {
	font-size:(40/16)*1rem;
	width:(56/40)*1em;
}
.icon-flag-small {
	font-size:(28/16)*1rem;
	width:(26/28)*1em;
}
.icon-socials-fb {
	font-size:(19.18/16)*1rem;
	width:(9/19.18)*1em;
}
.icon-socials-gh {
	font-size:(32/16)*1rem;
	width:(33/32)*1em;
}
.icon-socials-med {
	font-size:(35/16)*1rem;
	width:(35/35)*1em;
}
.icon-socials-sl {
	font-size:(79.2/16)*1rem;
	width:(79.4/79.2)*1em;
}
.icon-socials-tw {
	font-size:(17.59/16)*1rem;
	width:(21.594/17.59)*1em;
}
.icon-socials-ws {
	font-size:(34/16)*1rem;
	width:(34/34)*1em;
}
.icon-socials-yt {
	font-size:(27.25/16)*1rem;
	width:(39/27.25)*1em;
}
