/*----- FONTS -----*/

$roboto:							'Roboto Mono', monospace;
$lato:								'Lato', sans-serif;;


$font-size: 18px;

// end FONT

/*
$_________:					'________', Arial, Helvetica, sans-serif;
$_________:					'________', Arial, Helvetica, sans-serif;
*/


/*----- COLORS -----*/

$clr-text:			#000000;
$clr-black:			#221d1d;
$clr-red:			#fe1b43;

$grd-red-v:			linear-gradient(to bottom, #ff2e74 0%,#fe0814 100%);
$grd-red-h:			linear-gradient(to right, #ff2e74 0%,#fe0814 100%);

// end COLORS
