/* Header
-----------------------------------------------------------------------------*/

.header {
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, .7);
	z-index: 15;
}

.main-nav{
	background: transparent;

	&.closed{
		display: block;
	}
}

.menu-btn{
	display: none;
	position: absolute;
	right: 10px;
	top: 20px;
	width: 50px;
	height: 50px;
	background: url(../svg/menu_btn.svg) center center no-repeat;
	background-size: 100%;
	cursor: pointer;
	transition: all linear .1s;

	&.close{
		background: url(../svg/menu_close.svg) center center no-repeat;
		background-size: 100%;
	}

	&:hover{
		opacity: 1;
	}
}

.main-menu{
	padding: 0;
	margin: 0;
	list-style: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: 300;

	&__item{
		position: relative;
		display: inline-block;

        &_red {
          background-color: rgba(237, 4, 16, .65);
        }

		&:hover{
			&:after{
				transform: translateY(-100%);
			}
		}

		&:after{
			content: '';
			position: absolute;
			left: -2px;
			right: -2px;
			bottom: -100%;
			height: 100%;
			background: #000;
			transition: all linear .1s;
		};
	}

	&__link{
		position: relative;
		font: 12px/60px $lato;
		display: block;
		height: 59px;
		padding: 0 40px;
		color: #fff;
		white-space: nowrap;
		z-index: 1;
		letter-spacing: 0.05em;
		transition: all linear .1s;
	}
}
