/* Media
-----------------------------------------------------------------------------*/

/*==========  Non-Mobile First Method  ==========*/

@media only screen and (max-width : 1340px) {

	.location{

		&__desc{
			height: 863px;
			padding: 60px 170px;
		}
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.home{

		&__desc{
			font-size: 42px;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-height : 800px) {
	.home{
		&__desc{
			margin: 36px 0;
		}

		.btn-block{
			margin: 36px 0;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 992px) {

	.home{
		&__desc{
			font-size: 32px;
			margin: 36px 0;
		}

		.btn-block{
			margin: 36px 0;
		}
	}

	.location{

		&__desc{
			height: 863px;
			padding: 30px 120px;
		}

		&__info{
			margin: 20px 0 30px;
		}

		.slider-nav{
			.slick-next,
			.slick-prev{
				width: 100px;
				height: 100px;
			}
		}
	}

	.main-menu{
		&__link{
			line-height: 40px;
			height: 40px;
			padding: 0 20px;
		}
	}

	.participants-list{
		&__name{
			font-size: 30px;
		}
	}

	.socials-wrap{
		margin-bottom: 30px;
	}

	.shedule-info{
		margin: 30px 0 30px;
	}

	.shedule-list{
		margin: 28px 0 0;

		&__item{
			margin: 10px 0 0;
		}
	}

	.sponsors-block{

		&__img-wrap{
			margin: 20px 0;
			width: 32%;
			height: 32%;
			max-height: 122px;
			text-align: center;
		}

		&__img-wrap.silver {
			width: 20%;
      margin-bottom: 0;
		}

		&__img-wrap.silver.horizontal {
			width: 28%;
		}

		&__img-wrap.bronze {
			width: 18%;
      margin-bottom: 0;
		}

		&__img-wrap.bronze.horizontal {
			width: 24%;
		}

		&__img-wrap.partner {
			width: 15%;
      margin-bottom: 0;
		}

		&__img-wrap.partner.horizontal {
			width: 20%;
		}

		&__img{
			display: inline-block;
			width: auto;
			height: auto;
			margin: 0 auto;
			max-width: 80%;
			max-height: 100%;
		}

		&__desc,
		&__subtitle{
			margin: 30px 0 20px;
		}
	}

	.section{
		&.event{
			padding: 32px 0;

			.socials-wrap{
				margin-bottom: 30px;
			}
		}
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 680px) {

	.header{
		top: 0;
		bottom: auto;
		background: transparent;
	}

	.menu-btn{
		display: block;
		z-index: 2;
		background-color: $clr-red;
		opacity: 0.5;
		border-radius: 5px;

		&.close{
			position: fixed;
			background-color: $clr-red;
			border-radius: 50%;
			opacity: 1;
		}
	}

	.main-nav{
		display: none;
	}

	.main-menu {
		padding: 88px 0 0;
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		/*background: rgba(0, 0, 0, .7);*/
		margin: 0;
		z-index: 1;
		font-size: 18px;
		@include background-image(linear-gradient(bottom, rgba(155,1,9,0.9) 0%,rgba(0,0,0,0.8) 60%));

		&__item{
			margin: 0;
			border-top: 1px solid rgba(255, 255, 255, .5);
			display: block;
			text-align: center;

			&:after{
				display: none;
			}
		}

		&__link{
			margin: 0;
			color: #fff;
			padding: 14px 5px 13px;
			line-height: 2;
			height: auto;
			font-size: 16px;
		}
	}

	.basic-btn {
		font: 14px/35px $latoB;
		padding: 0 10px;
		height: 40px;
		margin-bottom: 0;
	}

	.section{

		&__title{
			font-size: 38px;
			margin: 30px auto;
			text-align: center;
		}

		&__subtitle{
			margin: 20px 0;
			font-size: 32px;

			br{
				display: none;
			}
		}

		&__desc{
			font-size: 18px;
			line-height: 1.5;
			margin: 20px 0;
		}
	}

	.home{
		&__title{
			margin: 10px 0 20px;
		}

		&__desc{
			font-size: 32px;
			margin: 30px 0;

			br{
				display: none;
			}
		}

		&__tip{
			margin: 30px 0 0;
		}

		.basic-btn{
			padding: 0 30px;
		}
	}


	.location{

		&__desc{
			height: 863px;
			padding: 30px 0;
		}
	}

	.slider-nav{
		bottom: 20px;
	}

	.slider__desc{
		bottom: 31px;
	}

	.participants-list{
		justify-content: space-around;

		&__img-wrap{
			margin: 0 auto;
		}

		&__name{
			font-size: 24px;
			text-align: center;
			margin: 16px 0 4px;
		}

		&__info{
			text-align: center;
			margin: 4px 0 12px;
		}

		&__desc{
			margin: 12px 0;
		}

		.socials{
			margin: 12px 0 20px;
		}

		&.orgs{
			.participants-list__item{
				padding: 0 20px;
			}
			.participants-list__name,
			.participants-list__info,
			.participants-list__desc{
				padding: 0;
			}

			.socials{
				margin: 0;
			}
		}
	}

	.slider-nav{
		display: none;
	}

	.socials{
		margin: 20px 0 0;
	}

	.shedule-info{
		margin: 30px 0 30px;
	}

	.shedule-list{

		&__time{
			max-width: 13%;
		}

		&__speaker{
			max-width: 87%;
		}

		&__title{
			font-weight: 600;
		}

		&__desc{
			max-width: none;
			padding: 4px 0 0 13%;
		}
	}

	.greatings{
		display: block;

		&__img{
			width: 200px;
			margin: 0 auto;
			float: none;
			height: 220px;
		}

		&__desc{
			width: 100%;
			float: none;
			text-align: center;
		}

		&__title{
			font-size: 24px;
		}

		&__p{
			font-size: 18px;
		}
	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.container{
		padding: 0 10px;
	}

	.logo{
		width: 84px;
		height: 84px;
	}

	.section{
		&__subtitle{
			margin: 30px 0 28px;
			font-size: 24px;
			line-height: 1.4;
		}

		&__desc{
			font-size: 16px;
			line-height: 1.5;
			margin: 28px 0 18px;
		}

		&.event {
			.section__desc{
				font-size: 16px;
				line-height: 1.5;
				margin: 28px 0 18px;
			}

			.socials-wrap{
				margin-top: 20px;
			}
		}
	}

	.home{
		&__title{
			font-size: 32px;
			margin: 10px 0 20px;

			span{
				font-size: 32px;
			}
		}

		&__desc{
			font-size: 20px;
			margin: 20px 0;

			br{
				display: none;
			}
		}

		&__tip{
			font-size: 16px;
			line-height: 1.5;
			margin: 20px 0 0;

			span{
				font-size: 18px;
			}
		}

		.btn-block{
			margin: 16px 0 0;
		}
	}

	.event-info{
		&__desc{
			padding: 0;
		}

		&__map-wrap{
			margin: 0px 0 0 -25%;
		}
	}

	.map{
		&__title{
			font-size: 22px;
		}
	}

	#map{
		height: 100vh;
	}

	.participants-list{
		margin: 50px 0 0;

		&__item{
			width: 100%;
			padding: 0 10px;
		}

		&__img-wrap,
		&__img{
			width: 220px;
			height: 220px;
		}
	}

	.shedule-list{
		font-size: 22px;

		&__time{
			max-width: 20%;
		}

		&__speaker{
			max-width: 78%;
		}

		&__title{
			font-size: 22px;
			font-weight: 600;
		}

		&__desc{
			padding: 10px 0 0 20%;
		}

		&__p{
			line-height: 1.4;
		}
	}

	.socials-wrap{
		margin: 10px auto;

		&__title{
			display: block;
			margin: 0;
		}
	}

	.location{

		.section__title{
			text-align: left;
		}

		.location__desc{
			height: 568px;
		}
	}

	.sponsors-block{

		&__desc{
			font-size: 22px;
			padding: 0 10px;
		}

		&__img-wrap{
			margin: 20px 0;
			width: 49%;
			height: 49%;
			max-height: 122px;
			text-align: center;
		}

		&__img-wrap.silver {
			width: 32%;
		}

		&__img-wrap.silver.horizontal {
			width: 40%;
		}
	}

	.help{

		&__link{
			margin: 10px 0;
			display: block;
		}
	}

	.footer{
		padding: 45px 0 35px;
	}
}

@media only screen and (max-width : 320px) {
  .basic-btn {
    padding: 0 10px !important;
	}
}
