$icons: (
	  sprite: (width: 334px, height: 315px, svgPath: '../img/sprite.svg'),
 	flag: (width: 56px, height: 40px, backgroundX: 0px, backgroundY: 0px),
 	flag-small: (width: 26px, height: 28px, backgroundX: -56px, backgroundY: -40px),
 	socials-fb: (width: 9px, height: 19.18px, backgroundX: -82px, backgroundY: -68px),
 	socials-gh: (width: 33px, height: 32px, backgroundX: -91px, backgroundY: -88px),
 	socials-med: (width: 35px, height: 35px, backgroundX: -124px, backgroundY: -120px),
 	socials-sl: (width: 79.4px, height: 79.2px, backgroundX: -159px, backgroundY: -155px),
 	socials-tw: (width: 21.594px, height: 17.59px, backgroundX: -239px, backgroundY: -235px),
 	socials-ws: (width: 34px, height: 34px, backgroundX: -261px, backgroundY: -253px),
 	socials-yt: (width: 39px, height: 27.25px, backgroundX: -295px, backgroundY: -287px),
);
