.subscribe-form {
  //margin-top: 35px;
}

.subscribe-form__email {
  font: 22px/1 "Lato", sans-serif;
  display: inline-block;
  padding: 0 25px 5px;
  vertical-align: top;
  color: #3c3c3c;
  border: solid #ed0410 2px;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  height: 60px;
  line-height: 60px;

  @media only screen and (max-width: 680px) {
    font-size: 18px;
    height: 43px;
    line-height: 43px;
  }
}

:root:root .subscribe-form__submit {
  display: inline-block;
  border: none;
  flex: initial;
  padding: 0 25px;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: transform 0.3s;
  border-radius: 0;
  background: #ed0410;

  &:hover {
    transform: scale(1.1);
  }
}
